In [16]:
import pandas as pd 
import matplotlib as plt
import seaborn as sns
import numpy as np

In [6]:
sales_df = pd.read_excel('data/Grupo_4.xlsx', sheet_name=[0,1] )

In [8]:
sales_df[1]

         Fecha        Ventas
0   2023-01-01  16298.062460
1   2023-01-02  18711.283012
2   2023-01-03  19788.792981
3   2023-01-04  22003.462132
4   2023-01-05  20387.799178
..         ...           ...
360 2023-12-27  23014.794169
361 2023-12-28  22825.600188
362 2023-12-29  19173.296859
363 2023-12-30  22544.923294
364 2023-12-31  15338.923394

[365 rows x 2 columns]

In [13]:
sales_df[0].describe()

                     Fecha        Ventas
count                  365    365.000000
mean   2023-07-02 00:00:00  18999.799527
min    2023-01-01 00:00:00   9641.749108
25%    2023-04-02 00:00:00  17005.320566
50%    2023-07-02 00:00:00  18909.752495
75%    2023-10-01 00:00:00  21291.494357
max    2023-12-31 00:00:00  27801.523429
std                    NaN   3050.707272

In [15]:
sales_df[1].describe()

                     Fecha        Ventas
count                  365    365.000000
mean   2023-07-02 00:00:00  21916.746964
min    2023-01-01 00:00:00  11985.822413
25%    2023-04-02 00:00:00  19826.955625
50%    2023-07-02 00:00:00  22267.236483
75%    2023-10-01 00:00:00  24159.156604
max    2023-12-31 00:00:00  28648.812330
std                    NaN   3011.650329

In [17]:
x = np.sort(sales_df[0].)

TypeError: '<' not supported between instances of 'float' and 'Timestamp'

In [18]:
x

NameError: name 'x' is not defined